@import "~normalize.css/normalize";
@import "./common/vars";
@import "./common/utils";
@import "./common/base";

@import url( "https://fonts.googleapis.com/css?family=BenchNine:400,700" );

@font-face {
  font-family: "Gidole";
  src:
    url( "/fonts/Gidole-Regular.woff" ) format( "woff" );
  font-weight: normal;
  font-style: normal;
}


// @import "./common/icon";

// html.-preventSelect{
// 	&, & *{
// 		@include noSelect();
// 	}
// }

// body{
// 	background-image: url( "./img/bg_pc.jpg" );
// 	background-size: cover;
// 	background-attachment: fixed;
// 	@include mediaS{
// 		background-image: url( "./img/bg_sp.jpg" );
// 	}
// }
